/* ==========================================================================
   @comment: Gestions des icones avec Fonts &/ou sprite
   ========================================================================== */

/*----------------------------------------------------------------
	Mode desktop
-----------------------------------------------------------------*/

.icon-search{
  background-color: $border-grey;
  &.input-group-label {
	padding: 0;
  }
  &:before {
	content: '';
	display: block;
	width: 20px;height: 20px;
	background: url("../../tpl/img/common/loupe-white.png") no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
  }
}
/*----------------------------------------------------------------
	Breakpoint 1 : 1200px
-----------------------------------------------------------------*/

/*----------------------------------------------------------------
	Breakpoint 2 : 1024px
-----------------------------------------------------------------*/

/*----------------------------------------------------------------
	Breakpoint 3 : 768px
-----------------------------------------------------------------*/

/*----------------------------------------------------------------
	Breakpoint 1 : 480px
-----------------------------------------------------------------*/