/* ==========================================================================
   @comment:
   ========================================================================== */

/*----------------------------------------------------------------
	Mode desktop
-----------------------------------------------------------------*/
/**
 * Variables :
 */

/* ==========================================================================
   @path : Chemin d'acces aux fichiers/ressources
   ========================================================================== */
$pathImg:"../img/common/";

/* ==========================================================================
   @color: couleurs utilisees
   ========================================================================== */
$bg-color:#ffffff;
$hover-orange:#f18033;

$bg-color-2: #f0eeee;
$orange-color: #ef8317;
$text-color: #858282;

$footer-font-color:#8d8d8d;
$primary-orange:#f18033;
$border-grey:#838383;
$light-grey-color:#e9e9e9;
$orange-color:#f18033;
$black-color:#000000;
$white-color:#ffffff;


/* ==========================================================================
   @font
   ========================================================================== */
$font-arial: arial, sans-serif;

/* ==========================================================================
   @breakpoint
   ========================================================================== */

$desktop: 1200px;
$tablet: 1024px;
$wide-phone:768px;
$phone: 480px;

$height-break:576px;

/* ==========================================================================
   @fixed width & height
   ========================================================================== */
$headerHeght:60px;
$headerHeght-tablet:50px;
$sideNavWidth: 80px;
$dashNavWidth:90px;
$gaugeNavWidth:10px;
$footerHeight: 50px;


/* ==========================================================================
   @fixed width & height
   ========================================================================== */
$indexFrame:2;
$indexContainer:1;
$indexHeader:3;

/* ==========================================================================
   @Grid padding
   ========================================================================== */
$page-gutter:50px;
$gutter-m:25px;
$content-gutter:0 20px;


/* ==========================================================================
   @Content
   ========================================================================== */

$content: 990px;