/* ==========================================================================
   @comment:
   ========================================================================== */

/*----------------------------------------------------------------
	Mode desktop
-----------------------------------------------------------------*/

/**
  Col size
*/
@media screen and (min-width: $tablet) {
  .col-md-2{
    float: left;
    width: 16.66666667%;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-md-4{
    float: left;
    width: 33.3%;
  }

  .col-md-5{
    float: left;
    width: 41.6%;
  }

  .col-md-6{
    float: left;
    width: 50%;
  }

  .col-md-7{
    float: left;
    width: 58.3%;
  }

  .col-md-8{
    float: left;
    width: 66.6%;
  }
  .col-md-10{
    float: left;
    width:83.33333333%;
  }
}
.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-7,.col-md-8,.col-md-10,.col-md-12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 9px;
}

/*----------------------------------------------------------------
	Breakpoint 1 : 1200px
-----------------------------------------------------------------*/

/*----------------------------------------------------------------
	Breakpoint 2 : 1024px
-----------------------------------------------------------------*/

/*----------------------------------------------------------------
	Breakpoint 3 : 768px
-----------------------------------------------------------------*/

/*----------------------------------------------------------------
	Breakpoint 1 : 480px
-----------------------------------------------------------------*/
@media screen and (max-width:480px) {
  .col-md-5{
    float: left;
    width: 100%;
  }
}

