{% extends 'BORCoreBundle::layout.html.twig' %}
{% set page_title = 'Conditions générales d\'utilisation - Blabla.academy' %}
{% block meta %}
    <meta name="description" content="Les conditions générales d'utilisation de Blabla.academy">
{% endblock %}
{% block mainId %} id="main-contact"{% endblock %}
{% block content %}
    <div id="concept">
        <div class="content-box bg-trans">
            <h1 class="ttl-2">Conditions générales d'utilisation</h1>

            <section>
                <div class="col-section clearfix">
                    <div class="col-md-12">
                        <p>
                            L’utilisation du site Internet www.blabla.academy est régie par les termes et conditions générales d’utilisation détaillés suivantes. Tout utilisateur reconnaît en avoir pris connaissance et les accepter. BlaBla.Academy se réserve la possibilité de modifier à tout moment et sans préavis les accès privatifs ou non à www.blabla.academy ainsi que les termes des conditions générales.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="ttl-3">Article 1 – Cookies et données personnelles</h2>
                <div class="col-section clearfix">
                    <div class="col-md-12">
                        <p>
                            Comme sur la plupart des sites internet, en poursuivant votre navigation sur ce site BlaBla.Academy, des cookies sont stockés provisoirement sur votre ordinateur. Les cookies sont des petits fichiers temporaires de texte nécessaires pour gérer au mieux la navigation et recueillir nos statistiques de fréquentation par les visiteurs, sans aucune nuisance sur votre vie personnelle ni sur votre ordinateur. Vous pouvez modifier vos paramètres de cookies sur votre navigateur, mais le fonctionnement du site sera altéré. En continuant à naviguer sur ce site, vous nous donnez implicitement votre accord.
                            BlaBla.Academy ne collecte pas d’informations personnelles lors de votre navigation sur le site Internet www.BlaBla.Academy autre que les cookies, sur sur votre demande, votre adresse email et autres informations nominatives demandées lors des différentes inscriptions.
                            Nous nous engageons à ne pas vendre ou communiquer à des tiers les adresses de nos abonnés sans leur accord préalable.
                            BlaBla.Academy protège la vie privée de ses utilisateurs en respectant les réglementations en vigueur. Conformément à la loi « Informatique et libertés » n°78-17 du 6 janvier 1978, chaque utilisateur dispose d’un droit d’opposition, d’accès, de modification, de rectification et de suppression des informations nominatives le concernant. Ce droit peut être exercé par courrier auprès de BlaBla.Academy BP 27 Lieudit Lippé 26260 Saint Donat ou par email en écrivant à l’adresse suivante : blabla.academy@gmail.com
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="ttl-3">Article 2 – Limitation de garantie</h2>
                <div class="col-section clearfix">
                    <div class="col-md-12">
                        <p>
                            www.BlaBla.Academy est un site internet proposant de créer ses propres cours en ligne, actualités, annonces et fiches descriptives.
                            BlaBla.Academy décline toute responsabilité quant à l’ensemble de ces contenus et ne garantit pas la véracité ni l’exhaustivité de ces informations. Ces informations n’engagent en rien la responsabilité de BlaBla.Academy sur la qualité réelle ou supposée des informations et des services annoncés sur le site www.BlaBla.Academy. BlaBla.Academy n’est pas responsable des préjudices liés à l’utilisation des informations, produits ou services annoncés ou présentés sur le site www.BlaBla.Academy. BlaBla.Academy ne garantit pas l’exactitude des informations, textes, images et tous autres éléments présents sur le site www.BlaBla.Academy
                            www.BlaBla.Academy peut orienter l’utilisateur sur d’autres sites Internet dont les informations ne peuvent en aucun cas engager la responsabilité de BlaBla.Academy.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="ttl-3">Article 3 – Responsabilité de l’internaute</h2>
                <div class="col-section clearfix">
                    <div class="col-md-12">
                        <p>
                            L’utilisateur du site www.BlaBla.Academy est seul responsable de toutes les informations, conseils, demandes et commentaires de toute sorte qu’il pourrait afficher, télécharger ou envoyer par courrier électronique. L’utilisateur s’interdit dans le cadre de l’utilisation du site Internet www.BlaBla.Academy de se livrer à des actes, de quelque nature que ce soit qui seraient contraires à la loi française, porteraient atteinte à l’ordre public français, ou aux droits d’un tiers.
                            Dans le cadre de certains services proposés par www.BlaBla.Academy , un certain nombre de données obligatoires seront demandées aux utilisateurs. Ces informations sont obligatoires car elles permettent de traiter efficacement la demande et de correctement l’orienter auprès des professionnels concernés.
                            En parfait respect de la loi « Informatique et Libertés », tous les champs obligatoires sont signalés par un astérisque et permettent uniquement le traitement et l’exécution du service proposé par BlaBla.Academy.
                            BlaBla.Academy ne saurait en aucun cas être tenu pour responsable des préjudices résultant pour l’utilisateur de la méconnaissance des présentes conditions générales sachant que ces dernières sont accessibles depuis toutes les pages du site Internet BlaBla.Academy.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="ttl-3">Article 4 – Responsabilité des Experts</h2>
                <div class="col-section clearfix">
                    <div class="col-md-12">
                        <p>
                            L’utilisateur s’engage à informer BlaBla.Academy sans délai de toute modification concernant sa situation, son activité ou ses besoins. BlaBla.Academy ne saurait en aucun cas être responsable ni des informations et déclarations erronées et/ou mensongères, de quelque nature que ce soit, que pourraient lui transmettre l’utilisateur ou que l’utilisateur pourrait inscrire directement sur le site www.BlaBla.Academy, ni de tout dommage causé par l’utilisation de ces informations.
                            Il est expressément convenu que BlaBla.Academy est soumise à une obligation de moyens dans le cadre de l’exécution du contrat. BlaBla.Academy ne saurait en aucun cas voir sa responsabilité engagée des résultats de la demande de devis comparatifs, notamment la satisfaction de l’utilisateur, tant sur le nombre de professionnels ayant répondu à la demande de devis comparatifs que sur les offres en elles-mêmes ou sur les qualités et caractéristiques des produits ou services proposés par les professionnels. En aucun cas, BlaBla.Academy n’est responsable des dommages réputés de convention expresse indirects tels que préjudices commerciaux et trouble commercial quelconque subie par l’utilisateur. (Est assimilée à un préjudice indirect, et en conséquence n’ouvre pas droit à réparation, toute action dirigée contre l’utilisateur par un Tiers.)
                            BlaBla.Academy n’intervient pas dans les négociations qui peuvent découler de la demande de devis comparatifs entre les différents utilisateurs et, en conséquence, en qualité de tiers dans toute relation contractuelle qui pourrait se former entre les utilisateurs, n’est en aucun cas responsable des différends qui pourraient intervenir entre eux dans les négociations et contrats résultant de la demande de devis comparatifs. L’utilisateur est seul responsable de tout préjudice direct ou indirect, matériel ou immatériel causé par lui-même ou l’un de ses préposés à BlaBla.Academy ou à des tiers ou à d’autres utilisateurs du fait de l’utilisation du site www.BlaBla.Academy . L’utilisateur pourra être condamné à verser des indemnités à BlaBla.Academy du fait des préjudices causés.
                            BlaBla.Academy ne saurait voir sa responsabilité engagée pour toute inexécution ou pour toute mauvaise exécution de tout ou partie des prestations des professionnels qui serait imputable soit à l’utilisateur, soit au professionnel, soit à un cas de force majeure, soit à un cas fortuit.
                            Toute réclamation concernant les prestations réalisées devra être adressée directement au professionnel concerné.
                            BlaBla.Academy ne pourra être tenu pour responsable en cas de poursuites judiciaires à l’encontre de son utilisateur du fait de l’usage de son ou ses sites Internet et dans tous les cas ne saurait être responsable ni des informations et déclarations erronées et/ou mensongères, de quelque nature que ce soit, que pourraient lui transmettre ses utilisateurs ni de tout dommage causé par l’utilisation de ces informations.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="ttl-3">Article 5 – Propriété Intellectuelle</h2>
                <div class="col-section clearfix">
                    <div class="col-md-12">
                        <p>
                            L’accès au site www.BlaBla.Academy ne confère aucun droit à l’utilisateur sur les droits de propriété intellectuelle relatifs au site qui reste la propriété exclusive de BlaBla.Academy ou des Professionnels.
                            L’utilisation, la reproduction, la modification, le téléchargement, la distribution, le prêt, le transfert , la vente et la publication de tout contenu du site hors les cas expressément autorisés et hors utilisation privée sont strictement interdits.
                            Le respect des droits de la propriété intellectuelle est impératif. On ne peut s’approprier par copier-coller des écrits qui ne nous appartiennent pas. L’utilisateur doit citer l’auteur, la source et si possible demander l’autorisation d’utilisation de l’écrit et/ou l’image en l’absence de mentions légales l’y autorisant. Les travaux réalisés par l’utilisateur dans le cadre de la formation, seul ou en groupe, sont publiés sous licence libre et ne doivent donc pas comporter d’éléments soumis à copyright.
                            L’utilisateur ne peut pas diffuser les documents, de quelque nature que ce soit, mis à sa disposition sur la plateforme avant, pendant et après la formation.
                            Les présentes conditions sont soumises au droit français tout litige relatif à l’interprétation et à l’exécution des présentes conditions sera de la compétence exclusive des tribunaux français.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="ttl-3">Article 6 – Conditions de publication</h2>
                <div class="col-section clearfix">
                    <div class="col-md-12">
                        <p>
                            Toute annonce contenant des éléments de texte (mots, expressions, phrases… etc.), qui sembleraient contraires aux dispositions légales ou réglementaires, aux bonnes mœurs, aux règles de diffusion de notre site, ou susceptible de troubler ou choquer les lecteurs sera refusée sans que cela ne fasse naître au profit de l'annonceur un quelconque droit à indemnité.
                            Les annonces doivent être rédigées en français (obligation légale imposée par la loi n°94-345 du 4 août 1994). Lorsqu'un terme étranger ne peut trouver son équivalent en français, il doit être circonscrit d'une manière assez précise pour ne pas induire en erreur l'utilisateur du site.
                            L'annonce d'un bien à vendre doit être déposée dans le département où le bien est localisé.
                            Dans le cas d'une insertion de photo, celle-ci doit représenter le bien à vendre et ne peut être utilisée pour illustrer plusieurs annonces. 
                            Le texte de l'annonce doit impérativement décrire le bien de l'annonce. Les annonces contenant un texte généraliste du type «à vendre / à louer» ne seront pas acceptées. 
                            En outre, il est interdit :
                            * de proposer plusieurs biens dans le texte d'une même annonce;
                            * d'avoir simultanément plusieurs fois la même annonce sur le site;
                            * d'insérer une même annonce dans plusieurs départements ou dans plusieurs catégories;
                            * d'insérer des mots-clés dans le texte de l'annonce. Seul le texte décrivant le bien est autorisé;
                            * de mentionner dans le titre et la description de l'annonce un lien pointant vers un autre site internet;
                            * de déposer une annonce faisant appel aux dons privés ou à but humanitaire;
                            * de déposer un avis de recherche de personne;
                            * de déposer une annonce à caractère publicitaire, toute profession confondue.
                            L’utilisateur s’engage :
                            * à s’exprimer par écrit de manière claire, précise, sans ambiguïté et avec correction ;
                            * à utiliser l’outil de courrier personnel des autres utilisateurs ou des tuteurs pour les messages personnels ou règlements de litiges, de préférence aux forums et autres de communication publique sur la plateforme,
                            * à veiller le plus possible à adresser ses messages et contributions aux bons destinataires et en utilisant les outils de communication adaptés, indiqués par les Experts.
                            Il est obligatoire de supprimer une annonce ancienne avant d'en insérer une nouvelle relative au même contenu;
                            de renseigner dans le formulaire d’inscription l'adresse e-mail et votre localisation.
                            Nous restons à votre écoute à l’adresse blabla.academy@gmail.com
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
