
        <ul class="footer-left">
            <li class="none-list-style-footer"><a href="{{ url('bor_core_sitemap') }}">Plan du site</a> - </li>
            <li><a href="{{ url('bor_core_cgu') }}">CGU</a> - </li>
            <li><a href="{{ url('bor_core_mentionsLegales') }}">Mentions légales</a><span class="mobile-footer-hide"> - </span></li>
            <li class="mobile-footer-hide"><a href="{{ url('bor_contact_create') }}" onclick="ga('send', 'event', 'footer', 'lien', 'contact');">Contactez-nous</a></li>
        </ul>

        <ul class="footer-right">
            <li class="mobile-footer-hide">Suivez-nous :</li>
            <li>
                <a id="img-facebook-footer" target="_blank" href="https://www.facebook.com/pages/Blablaacademy/773824872702766?__mref=message_bubble"  onclick="ga('send', 'event', ‘footer', 'lien', 'facebook');"></a>
            </li>
            <li>
                <a id="img-twitter-footer" target="_blank" href="#" onclick="ga('send', 'event', 'footer', 'lien', 'twitter');"></a>
            </li>
            <li>
                <a id="img-google-footer" target="_blank" href="https://plus.google.com/116212745174010063470/posts" onclick="ga('send', 'event', 'footer', 'lien', 'google+');"></a>
            </li>
        </ul>   