{% extends "BORCoreBundle::layout.html.twig" %}
{% set page_title = 'Mentions légales - Blabla.academy' %}
{% block meta %}
    <meta name="description" content="Les mentions légales du site Blabla.academy">
{% endblock %}
{% block mainId %} id="main-contact"{% endblock %}
{% block content %}
    <div id="concept">
        <div class="content-box bg-trans">
            <h1 class="ttl-1">Mentions légales</h1>
            <div class="clearfix">
                <section>
                    <h2 class="ttl-2">Direction de la publication</h2>
                    <p>Association loi 1901 ACS, Lieu dit Lippé - Anciennes Maçonneries 26260 Saint Donat Tél :  04 75 45 73 33</p>

                </section>
                <section>
                    <h2 class="ttl-2">Hébergement</h2>
                    <p>OVH, 2 rue Kellermann, 59100 Roubaix, France OVH CONTACT Téléphone :  08 203 203 64 (n° indigo 0,118€/min)</p>
                </section>
                <section>
                    <h2 class="ttl-2">Politique des cookies</h2>
                    <p>
                        1 Qu'est-ce qu'un cookie ?<br/>
                        Un cookie est un fichier texte déposé sur votre ordinateur lors de la visite d’un site. Il contient des données utilisateur permettant de faciliter votre navigation et de permettre certaines fonctionnalités telles que stocker le contenu d’un panier d’achat, enregistrer les paramètres de langue d’un site ou encore pour faire de la publicité ciblée.
                    </p>
                    <p>
                        2 Quelle est la finalité de nos cookies ?<br/>
                        Les cookies déposés sur votre ordinateur, votre tablette ou votre mobile nous permettent de reconnaître votre navigateur lorsque vous vous connectez à notre site. Soucieux des services que nous vous proposons, nous émettons des cookies afin :
                        - d’établir des statistiques de fréquentation (nombre de visites, de pages vues, etc.) afin de suivre et d’améliorer la qualité de service;
                        - d’adapter la présentation de notre site aux préférences d’affichages de votre écran;
                        - de vous fournir du contenu et de personnaliser les offres qui vous sont adressées.
                    </p>
                    <p>
                        3 Que se passe-t-il si je n'autorise pas les cookies ?<br/>
                        Si les cookies ne sont pas autorisés sur votre ordinateur, votre tablette ou votre mobile, votre expérience sur notre site Internet pourra être limitée.
                    </p>
                    <p>
                        4 Comment désactiver/activer les cookies ?<br/>
                        Vous pouvez choisir de désactiver les cookies dans votre navigateur à tout moment en suivant les instructions fournies dans les fichiers d’aide de votre navigateur.
                        Vous pouvez également paramétrer vos cookies directement dans les réglages de votre navigateur :
                        Google Chrome : https://support.google.com/chrome/answer/95647?hl=fr
                        Internet Explorer : http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11
                        Mozilla Firefox : http://support.mozilla.org/fr/kb/activer-desactiver-cookies
                        Safari : http://www.apple.com/fr/privacy/use-of-cookies/
                    </p>
                    <p>
                        Les utilisateurs du site web sont tenus de respecter les dispositions de la loi relative à l’informatique, aux fichiers et aux libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s’abstenir, s’agissant d’informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et, d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                        Conformément à l’article 34 de la loi « Informatique et Liberté » du 6 juillet 1978, vous disposez d’un droit d’accès, de retrait et de rectification des informations vous concernant.
                    </p>

                    <h2 class="ttl-2">Copyright et droit d’auteur</h2>
                    <p>
                        L’intégralité du site est protégée par les législations françaises et internationales relatives à la propriété intellectuelle. Tous les droits de reproduction sont réservées, y compris pour les documents téléchargeables. L’ensemble des éléments composant le site et le site lui-même ne peuvent, conformément à l’article L122-4 du code de la propriété intellectuelle, faire l’objet d’une quelconque représentation ou reproduction, intégrale ou partielle, sur quelque support que ce soit, sans l’autorisation préalable du président de l'Association.
                    </p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
