{% extends 'BORAdminBundle::layout.html.twig' %}
{% block content %}
    <h1>Sponsorship creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sponsorship') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
