{% extends 'BORAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Action creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('bor_action_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
