{% extends 'BORAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>QcmPoint edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('bor_qcmpoint_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
