{% extends 'BORAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Slider edit</h1>

    {{ form(edit_form) }}

    Photo actuelle : <br/>
    <img style="width:100px;" src="{{ asset(entity.getMedia().getWebPath()) }}"/>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bor_slider_index') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
