/* ==========================================================================
   @comment: Button design
   ========================================================================== */

/*----------------------------------------------------------------
	Mode desktop
-----------------------------------------------------------------*/


/**
  Basic filter
*/

.aside-filter {
  position: absolute;
  width: 100%;
}