/* ==========================================================================
   @comment: Page header
   ========================================================================== */

/*----------------------------------------------------------------
	Mode desktop
-----------------------------------------------------------------*/

@media screen and (min-width:$tablet) {
  .page-header {
    display: table;
    width: 100%;
    .cell {
      display: table-cell;
    }
    .tools {
      width: 300px;
      padding-left: 40px;
    }
  }
}
/*----------------------------------------------------------------
	Breakpoint 1 : 1200px
-----------------------------------------------------------------*/

